/* ==========================
   CSS Variables
========================== */

:root {
  --avia-primary: #6366f1;
  --avia-primary-dark: #4f46e5;

  --avia-gradient-start: #4f86f7;
  --avia-gradient-end: #7c3aed;
  --avia-bg: #ffffff;
  --avia-text-muted: #6b7280;
  --avia-border: #e5e7eb;

  --border-radius: 8px;

  --transition: 0.3s ease;
}

/* ==========================
   Reset
========================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* ==========================
   Global
========================== */

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: 'Inter', sans-serif;

  /* background: var(--background-color);
  color: var(--text-color); */
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

/* Глобальное переопределение z-index для Vue Datepicker */
/* .dp--menu-wrapper,
.dp--outer-menu-wrap {
  z-index: 9999 !important;
}

/* ВАЖНО: Самому меню тоже нужен z-index */
/* .dp--menu,
.dp--menu-index {
  z-index: 10000 !important;
} */

/* На всякий случай - все вложенные элементы */
/* .dp--menu-wrapper .dp--menu {
  z-index: 10000 !important;
}
.dp--menu-wrapper,
.dp--outer-menu-wrap,
.dp--menu {
  z-index: 9999 !important;
} */